.album {
    display: flex;
    justify-content: center;
    height: 700px;
    width: 1000px;
}

.album-cover {
    height: 75%;
    padding: 2rem;
    border-radius: 50px;
}

.album-cover:hover {
    transform: scale(1.1);
}

.album-details {
    width: 45%;
    height: 75%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.album-year {
    color: grey;
}

.btn--container {
    display: flex;
    justify-content: flex-start;
    padding: 0 2rem;
    margin-top: -0.5rem;
}